@import "colors";


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


.e-container {
  overflow-y: auto;
  padding: 1rem 1rem;

  h1 {
    margin: 1rem;
    font-size: 1.6rem;
    font-weight: normal;
    text-align: center;
  }

  .e-pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-evenly;

    margin-bottom: 2rem;

    a {
      width: 8rem;
      height: 8rem;
      border-radius: 4rem;

      padding: 1rem;
      margin: 0.5rem;

      font-size: 1.2rem;
      text-align: center;
      background: $hover;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

// BREATH 
.breatheContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex: 1;

  .outer {
    width: 150px;
    height: 150px;
    border-radius: 75px;

    background: rgb(97, 190, 162);

    display: flex;
    justify-content: center;
    align-items: center;

    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;

    transform: scale(0.65);

    .middle {
      width: 120px;
      height: 120px;
      border-radius: 60px;

      background: rgb(156, 217, 198);

      display: flex;
      justify-content: center;
      align-items: center;

      .inner {
        width: 70px;
        height: 70px;
        border-radius: 35px;

        background: rgb(182, 227, 213);

        display: flex;
        justify-content: center;
        align-items: center;

        p {
          font-size: 1.5rem;
          text-align: center;
          color: $background;

          animation-fill-mode: forwards;
          animation-timing-function: ease-in-out;
          animation-duration: 4s;
        }
      }
    }

    &.breatheIn {
      animation-name: breathe-in;
    }

    &.breatheOut {
      animation-name: breathe-out;
    }
  }

  .instructions {
    font-size: 1.5rem;
    text-align: center;

    margin-top: 4rem;

    &.smaller {
      font-size: 1.2rem;
      margin-top: 1.5rem;
    }
  }
}

@keyframes breathe-in {
  from {
    transform: scale(0.65);
  }
  to {
    transform: scale(1);
  }
}

@keyframes breathe-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.65);
  }
}

// EMERGENCY

@import "colors";

.emergency-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  padding: 2%;
  overflow-y: auto;
}

.emergency-type-header{
  color: white;
}
.emergency-section {
  margin-top: 0.4rem;
  color: white;
  background-color: $hover;
  border-radius: 0.3rem;

  &.transparent {
    background-color: transparent;
  }

  * {
    line-height: 1.5rem;
    margin: 0;
  }

  h1 {
    font-weight: normal;
    text-align: center;
    font-size: 2rem;
  }

  h2 {
    font-weight: normal;
    color: white;
    margin: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    background: $hover;
  }
  

  h3 {
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0.4rem;
  }

  ul {
    margin-bottom: 0.2rem;
    text-align: center;

    li {
      margin-bottom: 0.5rem;
      color: white;
      text-align: center;
      &:last-child {
        margin-bottom: 0;
        text-align: center;
      }
    }
  }

  h3,
  ul + p,
  p + ul,
  p + p {
    margin-top: 1.4rem;
  }

  [class~="dim"] {
    color: $tertiary;
  }
}
.white {
  color: white;
}

.rowLink {
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: $active;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  p {
    flex: 1;
    margin-right: 0.5rem;
  }

  margin-bottom: 0.2rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.signs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  .sign {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 9rem;
    margin: 0.6rem 0;
    color: white;

    .signIconWrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 80px;
      height: 80px;
      border-radius: 40px;
      margin-bottom: 0.6rem;
      background-color: $active;
    }

    p {
      margin: 0;
      font-size: 1rem;
      text-align: center;
    }
  }
}

.breatheSection {
  & > div {
    margin-top: 1rem;
  }
}

// HEADER

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-top: 2rem;
  margin-bottom: 0.5rem;

  position: relative;

  svg {
    position: absolute;
  }
}

.hasBack {
  margin-left: 3rem;
}

.header-centered {
  text-align: center;
  width: 100%;
  margin-left: 0 !important;
}

// BREATH 

.breath-container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
@import "colors";

.header {
  margin-bottom: 4px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  & > * {
    background: $hover;
    border: none;
    outline: none;
    height: 100%;
  }

  a {
    padding: 2px;
    margin-right: 2px;

    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search {
    flex: 1;

    padding: 16px 20px;

    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  overflow-y: auto;

  & > a > div {
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    padding: 10px 12px 10px 20px;

    cursor: pointer;

    &:hover {
      background: $hover;
    }
    &:active {
      background: $active;
    }

    p:nth-child(2) {
      font-size: 14px;
      margin-top: 2px;
      color: $secondary;
    }
  }
}

.substanceContainer {
  padding: 20px;

  height: 100%;
  overflow-y: auto;

  h1 {
    margin: 0;
    font-size: 22px;
    flex-shrink: 1;
  }

  p {
    word-break: break-word;
  }

  .classes {
    font-size: 17px;
    color: $tertiary;
    margin-top: 5px;
    margin-bottom: 0;
  }

  .summary {
    color: $secondary;
    margin-top: 25px;
  }

  h3 {
    font-style: italic;
    font-size: 18px;
    font-weight: normal;
    color: $dim;

    margin-top: 20px;
    margin-bottom: 4px;
  }

  .roas {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    // clip so border radius cuts off corners of child buttons
    overflow: hidden;

    button {
      padding: 10px 2px;

      // safari has a default 2px margin for buttons??
      // that might not be the issue but this is definitely the solution :)
      margin: 0;

      font-size: 18px;
      &.small {
        font-size: 15px;
      }

      flex: 1;

      background: $active;
      &.selected {
        background: $hover;
      }

      &.only {
        cursor: auto;
        opacity: 1 !important;
      }
    }
  }

  .group > * {
    margin-top: 4px;
    &:first-child {
      margin-top: 0;
    }
  }

  .interactions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    button {
      margin: 3px;
      padding: 4px;
      border-radius: 3px;

      background: $hover;
    }
  }

  .interaction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
    border-radius: 4px;
    background: $hover;

    & > :first-child {
      align-self: stretch;
      margin-bottom: 20px;

      & > svg {
        margin-right: -30px;
      }

      h2 {
        font-weight: normal;
        flex: 1;
        text-align: center;
      }
    }
  }
}





/********************************************* HOME PAGE *********************************************/


 

  .center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  

  
.row {
    position: relative;
  }
  

  .aim-section {
    padding: 100px 0;
    background: #212126;
  }
  
  .aim-section .section-title {
    color: #FFFFFF;
  }
  
  .aim-section .img-section {
    display: flex;
    align-items: flex-end;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 50px;
    position: relative;
  }

  
  

  
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  .aim-section .features {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  
  .aim-section .img-section .square {
    position: absolute;
    right: 210px;
    top: 130px;
    -webkit-animation: float 4s ease-in-out infinite;
    animation: float 4s ease-in-out infinite;
  }
  
  .aim-section .img-section .circle {
    position: absolute;
    bottom: 130px;
    right: 165px;
    -webkit-animation: float 6s ease-in-out infinite;
    animation: float 6s ease-in-out infinite;
  }
  
  .aim-section .img-section .triangle {
    position: absolute;
    bottom: 270px;
    left: 70px;
    -webkit-animation: float 3s ease-in-out infinite;
    animation: float 3s ease-in-out infinite;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  .aim-section .features {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .aim-section .features .features-section .btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 15px 25px;
    color: #fff;
    transition: all 0.3s;
    border-radius: 5px;
    background-color: #6868CC;
  }
  
  .aim-section .features .features-section .btn:hover {
    transform: translateY(-5px);
  }
  
  .aim-section .services-list {
    background: #27272C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    padding: 50px;
    margin-bottom: 10px;
    position: relative;
  }
  
  .aim-section .services-list .serial {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 24px;
    height: 24px;
    background: #35353D;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
  }
  
  .aim-section .services-list .serial p {
    margin: 0;
    font-size: 10px;
    color: #A5A5A5;
    font-family: 'Offside', cursive;
  }
  
  .aim-section .services-list .serviceBody {
    display: flex;
    align-items: center;
  }
  
  .aim-section .services-list .serviceBody .icon-section {
    padding-right: 50px;
  }
  
  .aim-section .services-list .serviceBody .icon {
    width: 35px;
    height: 35px;
    fill: #7F7F8E;
  }
  
  .aim-section .services-list:hover {
    background: #323239;
    transition: .5s ease;
  }
  
  .aim-section .services-list:hover .serial {
    background: #515257;
  }  


  .home-ecosystem-section {
    padding: 5px 0;
    }
    .home-ecosystem-section h3.section-title {
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    padding: 0;
    margin: auto;
    }
    .home-ecosystem-section h3.section-title .subt {
    display: inline;
    }
    .home-ecosystem-section h3.section-title .subt span {
    display: inline-block;
    line-height: 0.9;
    border-top: 5px solid #6868CC;
    }
    .home-ecosystem-section h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 131.4%;
    text-align: center;
    color: #FFFFFF;
    padding: 4px 15px;
    margin-bottom: 20px;
    }
    .home-ecosystem-section .sortbuttons {
    text-align: center;
    }
    .home-ecosystem-section .sortbuttons button.active {
    background: #6868CC;
    }
    .home-ecosystem-section .sortbuttons button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
    }
    .home-ecosystem-section .sortbuttons button {
    background: transparent;
    border-radius: 6px;
    border: 0;
    color: #FFFFFF;
    padding: 4px 15px;
    font-weight: 500;
    margin: 4px 15px;
    font-size: 15px;
    }
    .home-ecosystem-section .sub-heading {
    font-size: 24px;
    line-height: 175.9%;
    text-align: center;
    color: #1a1d05;
    font-weight: 400;
    word-break: break-word;
    margin: auto auto 70px auto;
    }
    .home-ecosystem-section .card-tiles {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    .home-ecosystem-section .card-tiles .card-group {
    margin-right: -15px;
    margin-left: -15px;
    }
    .home-ecosystem-section .card-tiles .card-group .card {
    background-color: transparent;
    border: 0;
    margin: 0 7.5px;
    }
    .home-ecosystem-section .card-tiles .card-group .card .card-section {
    width: 900px;
    margin: auto;
    background: linear-gradient(156.29deg,#1f2023 4.39%,rgba(19,20,22,.48) 84.74%);
    border-radius: 6px;
    }
    .home-ecosystem-section .card-tiles .card-group .card .card-section .card-body {
    padding: 40px 30px 30px 30px;
    }
    .home-ecosystem-section .card-tiles .card-group .card .card-section .card-body .comingsoon {
    position: absolute;
    left: 50%;
    margin-left: -61px;
    bottom: 30px;
    }
    .home-ecosystem-section .card-tiles .card-group .card .card-section .card-body .comingsoon h6 {
    color: #484C53;
    font-size: 14px;
    font-weight: 500;
    }

    .symbol-section {
      display: flex;
      color: #fff;
      align-items: center;
    }

    .symbol-section h5 {
      margin-bottom: 0;
      font-weight: 600;
      text-transform: uppercase;
    }

    .symbol-section img {
      margin-right: 15px;
      width: 50px;
      height: auto;
    }
    
    .card-title.h5 {
      font-size: 20px;
      font-weight: 600;
      color: #fff;
    }
    
    p {
      color: #BCBCBC;
      font-weight: 400;
      font-size: 16px;
    }
    p span {
      display: inline-block;
    }
    
    .button-section {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .networks {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .networks h5 {
      display: inline-flex;
      color: #fff;
      align-items: center;
    }
    .networks img {
      max-width: 50px;
      width: 100%;
      height: auto;
      margin: 0 10px;
    }
    
    img {
      max-width: 218px;
      width: 100%;
      height: auto;
    }
    

    .network-section {
      padding: 20px 60px 80px 20px;
      position: relative;
    }
    .network-section .gradient {
      position: absolute;
      z-index: -1;
      bottom: 40px;
    }
    
    .network-section .tech-box {
      display: flex;
      flex-direction: column;
    }

    .network-section .tech-box .content-container h2{
      font-size: 32px;
      text-align: center;
      width: auto;
      line-height: 1.3;
    }

    .button-section.cards-buttons{
      display: flex;
      justify-content: normal;
    }
    .button-section .cards-button {
      color: #181818;
    }
    .button-section .cards-button:hover {
      color: #6868CC;
    }
    
.ecosystem-section{
  padding: 200px 0 0px 0;

}
.ecosystem-section h3.section-title {
  font-weight: 700;
  line-height: 1.3;
  font-size: 60px;
  text-align: center;
  padding: 2px;
  width: 770px;
  margin: auto;
}

.ecosystem-section   .sortbuttons {
  text-align: center;
  padding: 4px 15px;
}

.ecosystem-section .network-section .info-text .btn-success:not(:disabled):not(.disabled).active, .ecosystem-section .network-section .info-text .btn-success:not(:disabled):not(.disabled):active, .ecosystem-section .network-section .info-text .show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}
.ecosystem-section.ecosystem-section .network-section {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.ecosystem-section.ecosystem-section .network-section a:hover {
  text-decoration: none;
}
.ecosystem-section.ecosystem-section .network-section .info-text {
  position: absolute;
  top: 15px;
  width: 25px;
  right: 13px;
}
.ecosystem-section.ecosystem-section .network-section .networklist-tiles {
  background: linear-gradient(156.29deg, #1F2023 4.39%, rgba(19, 20, 22, 0.48) 84.74%);
  border-radius: 6px;
  width: 230px;
  height: 215px;
  text-align: left;
  color: #fff;
  padding: 24px;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  margin: 10px;
  position: relative;
}
.ecosystem-section.ecosystem-section .network-section .networklist-tiles:hover {
  border: 1px solid #303132;
  background: #1F2023;
}
.ecosystem-section.ecosystem-section  .network-section h5 {
  color: #FCFCFC;
  margin-top: 3px;
  font-weight: 500;
  font-size: 16px;
}
.ecosystem-section.ecosystem-section .network-section h6 {
  font-size: 12px;
  color: #A6A6A6;
  font-weight: 300;
  line-height: 1.5;
}
.ecosystem-section.ecosystem-section .network-section .status {
  position: absolute;
  bottom: 24px;
  font-size: 10px;
  font-weight: 400;
  color: #FCFCFC;
  right: 24px;
}
.ecosystem-section.ecosystem-section .network-section .status .dot {
  width: 6px;
  background: #00A8A8;
  display: inline-block;
  border: 0.247917px solid #00A8A8;
  height: 6px;
  border-radius: 50%;
}
.ecosystem-section.ecosystem-section .network-section .networkname {
  position: absolute;
  top: 13px;
  right: 15px;
  font-weight: 400;
  border-radius: 6px;
  background: #383838;
  font-size: 8px;
  padding: 4px 18px;
}
.ecosystem-section.ecosystem-section  .network-section h4 {
  font-size: 28px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.89);
  letter-spacing: 0.1px;
  margin-top: 20px;
}

.blog-body {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  flex-direction: row;
  position: relative;
}


/* Style the post card image */
.blog-card img {
  height: 150px;
  object-fit: cover;
  width: 100%;
}
/* Style the post card content */
.blog-card-content {
  padding: 20px;
}
.blog-card-content .text {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px;
}
.blog-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px;
}

.sidebar-layout {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 160px;
}
.sidebar-layout .buttons {
  display: flex;
  flex-direction: column;
}

.sidebar-wrapper {
  display: flex;
}

.sidebar-wrapper > div {
  flex: 0 0 64px;
  overflow-y: auto;
}
.container {
  position: relative;
  z-index: 1;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  z-index: -1;
}

.centered-component {
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  visibility: hidden;
}
.two-column-layout {
  display: flex;
  color: rgba(255, 255, 255, 0.89);
  backdrop-filter: blur(10px) opacity(0.9);
  background-color: rgba(5, 5, 6, 0.956);
  position: relative;
  pointer-events: none;

}

.two-column-layout::before {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  z-index: 1;
}

.two-column-layout * {
  pointer-events: auto;
}

.left-sidebar {
  flex: 0 0 64px;
  color: transparent;
  color: rgba(255, 255, 255, 0.89);

}

.right-content {
  flex: 1;
}


/* Base styles */
h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
    color: #f6f6f6;

}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  margin-bottom: 1rem;
}

a {
  color: #3b82f6;
  text-decoration: none;
}

a:hover {
  color: #2563eb;
}

.dark a {
  color: #dbdadc;
}

.dark a:hover {
  color: #9c64f8;
}

/* Post styles */
.prose .anchor {
  position: absolute;
  visibility: visible;
  text-decoration: none;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 100%;
  max-width: 700px;
  cursor: pointer;
  color: #d1d5db;
}
.prose a {
  color: white;
}
.anchor:hover {
  visibility: visible;
}

.prose a {
  transition: all 0.2s ease-in-out;
}

.prose .anchor:after {
  content: '#';
  color: #d1d5db;
}

.prose *:hover > .anchor {
  visibility: visible;
}

.prose pre {
  border: 1px solid #e5e7eb;
  background-color: #f9fafb;
  color: #f6f6f6;
}

.prose code {
  color: #3c82e6;
  padding: 0.125rem 0.5rem;
  border: 1px solid #d2d6dc;
  border-radius: 0.375rem;
  background-color: #edf2f7;
}

.prose pre code {
  color: #f6f6f6;
  padding: 0;
  border: none;
}

.prose img {
  margin: 0;
}

.prose > :first-child {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

/* Prism Styles */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #4a5568;
}

.token.punctuation {
  color: #ebebeb;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #48bb78;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #9f7aea;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #f6e05e;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #4299e1;
}

.token.function,
.token.class-name {
  color: #ed64a6;
}

.token.regex,
.token.important,
.token.variable {
  color: #f6e05e;
}

.wallet-list {
  margin-top: 2rem;
  text-align: center
}

@media (min-width: 640px) {
  .wallet-list {
    margin-top: 0.5rem;
    text-align: left;

  }
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 3px;
}
.medium-text {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5; /* this value can vary depending on your design */
  color: #333333;
}

@media (prefers-color-scheme: dark) {
  .medium-text {
    color: #f8f8f8;
  }
}