.container {
  padding: 0 2rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.header {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, var(--chakra-colors-green-400), var(--chakra-colors-purple-500));
  font-weight: var(--chakra-fontWeights-extrabold);
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
}